<div class="col-md-6 col-md-offset-3">
  <h2>Search by: <a href="/">Authors</a>,<a href="/search/allbooks">Books</a> ,<a href="/categories">Categories</a></h2>
</div>

<div class="col-md-6 col-md-offset-2">
  <form action="/search/books" method="GET" role="search" class="navbar-form">
      <input style="height: 30px; width: 600px; position: relative;" type="text" class="form-control search" placeholder="Search Books" name="search" value="">
    </form>
</div>
