<div class="col-md-8 col-md-offset-2">
      <div>
        <h1>Rules:</h1><br>
        <ol type="1">
          <li>Three books can be checked out at once.</li>
          <li>Initial check outs last a month at a time.</li>
          <li>Renewals then become 2 weeks.</li>
          <li>You can only have 1 renewal.</li>
          <li>Check outs can be renewed unless there is a wait list.</li>
        </ol>
      </div>
  </div>
