<!DOCTYPE html>
<html>
  <head>
    <h1>About Us</h1>
  </head>
  <body>
    <div>
      <p>We are a library with many cool books.</p>
      <p>You can come and rent books.</p>
      <p>But you must return the books.</p>
    </div>
  </body>
</html>
