<div class="col-md-8 col-md-offset-2">
      <div>
        <h1>We are a library with many cool books.</h1>
        <h1>You can come and rent books.</h1>
        <h1>But you must return the books.</h1>
      </div>
  </div>
