<div class="col-md-8 col-md-offset-2">
  <div>
    <h3>
      <b>Phone number:</b> 630-999-9999
    </h3>
  </div>
  <div>
    <h3>
      <b>Address:</b> 69 Main St, Aurora IL. 60506
    </h3>
  </div>
  <div>
    <h2>Send us your questions at aulibrary@project.com:</h2>
    <form action="mailto:ewagner04@aurora.edu" method="post" enctype="text/plain" id="email_form">
      Name:<br>
      <input type="text" name="name"><br>
      E-mail:<br>
      <input type="text" name="mail"><br><br>
      Comment:
      <input type="submit" value="Send">
      <input type="reset" value="Reset">
    </form>
    <br>
    <textarea rows="4" cols="50" name="comment" form="email_form"></textarea>
  </div>
  <br>
  <div>
    <h2>Get Directions:</h2>
    <iframe height="300" width="500" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2976.423355688576!2d-88.35182828456277!3d41.75452927923226!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880ee56472c31c77%3A0x67f84d75ad2631ca!2sAurora+University!5e0!3m2!1sen!2sus!4v1512141504430" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
</div>
