<!DOCTYPE html>
<html>
  <head>
    <h1>Events</h1>
  </head>
  <body>
    <div>
     <a href="/"><img src="/images/bookfair.png" height="250" width="400"></a>
    </div>
    <div>
      <h3>Come Visit the AU Library Book Fair!</h3>
      <h4><i>Where?</i></h4>
      <p>The AU Library</p>
      <h4><i>When?</i><h4>
      <p>This Saturday from noon to 2pm</p>
    </div>
  </body>
</html>
