<div class="col-md-8 col-md-offset-3">
      <div>
        <h4><b>Reference, Research and Information Help Available:</b></h4>
        <ul>
          <li>Mon.-Thur. 10am-1am</li>
          <li>Fri. 10am-5pm</li>
          <li>Sat. 9am-5pm</li>
          <li>Sun. 1pm-1am</li>
        </ul>
      </div>
      <div>
        <h4><b>Circulation Services Available:</b><h4>
        <h5>(Check-out materials, ILL questions, account questions)</h5>
        <ul>
          <li>Mon.-Thur. 8am-1am</li>
          <li>Fri. 8am-5pm</li>
          <li>Sat. 9am-5pm</li>
          <li>Sun. 1pm-1am</li>
        </ul>
      </div>

  </div>
