<div class="row" style="margin:10%">
  <div class="col-md-6">
    <a href="#" class="btn btn-lg btn-block btn-success" style="padding:30px 30px 30px 30px">
      Show rentals
    </a>
    </div>
  <div class="col-md-6">
    <a href="/categories" class="btn btn-lg btn-block btn-primary" style="padding:30px 30px 30px 30px">
      Search books - Category
    </a>
  </div>

</div>
